.coverImage {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 2.5;
  margin-bottom: 40px;
  object-fit: cover;
  filter: brightness(1.15);
  border-radius: var(--radius);
}

h2 {
  padding-bottom: 6px;
  margin-bottom: 16px;
  font-weight: 400;
  border-bottom: 1px solid var(--color-foreground);
}

article > p {
  margin-bottom: 16px;
  color: var(--color-background);
}

article img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 28px;
  object-fit: cover;
  filter: brightness(1.15);
  border-radius: var(--radius);
}
