---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
import BlogList from '../components/BlogList.astro'
import Icon from '../assets/image/icon.jpg'
import { Image } from 'astro:assets'
---

<Layout title="Welcome to Astro.">
  <Card>
    <div class="profile">
      <div>
        <Image src={Icon} alt="icon" width="86" height="86" class="profile__icon" />
      </div>
      <h1 class="profile__title">Blog of gadgets I use</h1>
      <p class="profile__description">
        Hi, my name is Yamato, <br />I'm the Markup Coder.
      </p>
    </div>
  </Card>

  <section class="blog">
    <BlogList />
  </section>
</Layout>
<style lang="scss">
  .profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  .profile__icon {
    border-radius: 50%;
  }

  .profile__title {
    font-size: 20px;
    font-weight: 400;
  }

  .profile__description {
    color: var(--color-background);
  }

  .profile__link {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .profile__link a {
    text-decoration: none;
  }

  .blog {
    padding-top: 32px;
  }
</style>
