---
import Container from '../components/Container.astro'
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
import BlogList from '../components/BlogList.astro'
---

<Layout title="Welcome to Astro.">
  <Container>
    <Card>
      <div class="profile">
        <h1 class="profile__title">Blog of gadgets I use</h1>
        <p class="profile__description">
          Hi, my name is Yamato, <br />I'm the Markup Corder.
        </p>

        <div class="profile__link">
          <a href="/">❤️</a>
          <a href="/">⭐️</a>
        </div>
      </div>
    </Card>

    <section class="blog">
      <BlogList />
    </section>
  </Container>
</Layout>
<style lang="scss">
  .profile {
    text-align: center;
  }

  .profile__title {
    font-size: 20px;
    font-weight: 400;
  }

  .profile__description {
    padding-top: 15px;
    padding-bottom: 32px;
    color: var(--color-background);
  }

  .profile__link {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .profile__link a {
    text-decoration: none;
  }

  .blog {
    padding-top: 32px;
  }
</style>
