---
import { Image } from 'astro:assets'
import { newtClient } from '../lib/newt'
import type { Article } from '../lib/newt'

const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body', 'coverImage', 'tags']
  }
})
---

{
  articles.map((article) => {
    return (
      <li class="blogList__item">
        <a href={`/blogs/${article.slug}`}>
          <Image
            src={article.coverImage.src}
            alt="Blog thumbnail"
            width={338}
            height={253}
            class="blogList__image"
          />
          <h3 class="blogList__title">{article.title}</h3>
          <span>
            {article.tags?.map((tag) => (
              <span>{tag.name}</span>
            ))}
          </span>
        </a>
      </li>
    )
  })
}

<style lang="scss">
  .blogList__item {
    list-style-type: none;
  }

  .blogList__item a {
    text-decoration: none;
  }

  .blogList__image {
    object-fit: cover;
    box-shadow: 0px 0px 16px -7px var(--color-shadow);
    border-radius: var(--radius);
    height: auto;
    aspect-ratio: 4 / 2.5;
    filter: brightness(0.8);
  }

  .blogList__title {
    padding-top: 8px;
    padding-left: 4px;
    font-weight: 500;
    font-size: 18px;
  }
</style>
