---
import { Image } from 'astro:assets'
import { newtClient } from '../lib/newt'
import type { Article } from '../lib/newt'

const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body', 'coverImage', 'tags']
  }
})
---

{
  articles.map((article) => {
    return (
      <li class="blogList__item">
        <a href={`/blogs/${article.slug}`}>
          <Image
            src={article.coverImage.src}
            alt="Blog thumbnail"
            width={300}
            height={300}
            class="blogList__image"
          />
          <p>{article.title}</p>
        </a>
      </li>
    )
  })
}

<style lang="scss">
  .blogList__item {
    list-style-type: none;
  }

  .blogList__image {
    object-fit: cover;
    aspect-ratio: 1/1;
    max-width: 300px;
    border-radius: var(--radius);
  }
</style>
