---
import { Image } from 'astro:assets'
import { newtClient } from '../lib/newt'
import type { Article } from '../lib/newt'

const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body', 'coverImage', 'tags']
  }
})
---

{
  articles.map((article) => {
    return (
      <>
        <li class="blogList__item js-blogItem">
          <a href={`/blogs/${article.slug}`}>
            <Image
              src={article.coverImage.src + '?format=webp'}
              alt="Blog thumbnail"
              width={338}
              height={253}
              sizes={'(max-width: 576px) 100vw, 338px'}
              class="blogList__image"
              data-pagefind-meta="image[src],image_alt[alt]"
              loading="eager"
            />
            <h3 class="blogList__title">{article.title}</h3>
            <div>
              {article.tags?.map((tag) => (
                <span class="blogList__tag">{tag.name}</span>
              ))}
            </div>
          </a>
        </li>
      </>
    )
  })
}

<style lang="scss">
  .blogList__item {
    list-style-type: none;
  }

  .blogList__item a {
    text-decoration: none;
  }

  .blogList__image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 2.5;
    object-fit: cover;
    filter: brightness(1.15);
    border-radius: var(--radius);
    box-shadow: 0 0 16px -7px var(--color-shadow);

    @include mq(sm) {
      width: unset;
    }
  }

  .blogList__title {
    padding-top: 8px;
    padding-left: 4px;
    font-size: 16px;
    font-weight: 400;
  }

  .blogList__tag {
    display: inline-block;
    padding: 2px 8px;
    margin-top: 6px;
    margin-left: 4px;
    font-size: 12px;
    color: var(--color-primary-foreground);
    background: var(--color-primary-background);
    border-radius: calc(var(--radius-sm) / 2);
  }
</style>

<script>
  import '../assets/js/blogItem.js'
</script>
