---

---

<div class="card">
  <slot />
</div>

<style lang="scss">
  .card {
    padding: 30px 24px;
    background: #ffff;
    border-radius: var(--radius);
    box-shadow: 0 0 10px -7px var(--color-shadow);
  }
</style>
