<div class="circle"></div>

<style lang="scss">
  .circle {
    position: fixed;
    top: 90%;
    left: 7%;
    width: 40px;
    height: 40px;
    background: radial-gradient(
      circle at 30% 107%,
      #f5f5f5 0%,
      #dcdcdc 30%,
      #a9a9a9 60%,
      #828282 90%
    );
    border-radius: 50%;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    transform: translate(-50%, -50%);

    @include mq(sm) {
      left: 5%;
    }
  }
</style>

<script>
  import '../assets/js/circleRotate.js'
</script>
