---
import { Image } from 'astro:assets'
import Menu from './Menu.astro'
import Search from '../components/Search.astro'
---

<header class="header">
  <div class="header__inner">
    <div class="headerMenu">
      <a href="/" class="headerLogo">
        <Image src="/logo.png" width="32" height="32" alt="logo" />
      </a>
      <Menu />
    </div>
    <div class="headerSearch">
      <Search />
    </div>
  </div>
</header>

<style lang="scss">
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-inline: 20px;
    animation: scroll-background-color linear;
    animation-timeline: scroll();
  }

  @keyframes scroll-background-color {
    0% {
      background: transparent;
    }

    1% {
      background: #ffffffc7;
      backdrop-filter: blur(2px);
      box-shadow: 0 0 2px 0 #d4d1d19e;
    }

    100% {
      background: #ffffffc7;
      backdrop-filter: blur(2px);
      box-shadow: 0 0 2px 0 #d4d1d19e;
    }
  }

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    height: 70px;
    margin-inline: auto;
  }

  .headerMenu {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .headerLogo {
    display: inline-flex;
    align-items: center;
    height: 50%;
  }

  .headerLogo img {
    border-radius: 50%;
  }
</style>
