---
import { Image } from 'astro:assets'
import Menu from './Menu.astro'
---

<header class="header">
  <div class="header__inner">
    <div class="headerMenu">
      <Image src="/favicon.svg" width="32" height="32" alt="logo" />
      <Menu />
    </div>
    <div class="headerSearch">
      <span>🔍</span>
    </div>
  </div>
</header>

<style lang="scss">
  .header {
    position: sticky;
    top: 0;
    padding-inline: 20px;
    animation: scroll-backgroundColor linear;
    animation-timeline: scroll();
  }

  @keyframes scroll-backgroundColor {
    0% {
      background: transparent;
    }

    1% {
      background: #ffffff9e;
      backdrop-filter: blur(2px);
      box-shadow: 0 0 2px 0 #d4d1d19e;
    }

    100% {
      background: #ffffff9e;
      backdrop-filter: blur(2px);
      box-shadow: 0 0 2px 0 #d4d1d19e;
    }
  }

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin-inline: auto;
    height: 70px;
  }

  .headerMenu {
    display: flex;
    gap: 12px;
  }

  .headerSearch {
  }
</style>
