---
import { Icon } from 'astro-icon/components'
const isActive = Astro.url.pathname
---

<nav>
  <ul class="list">
    <a href="/" class={`list__link ${isActive === '/' ? 'isActive' : ''}`}>
      <li>Home</li>
    </a>
    <a href="/about/" class={`list__link ${isActive === '/about/' ? 'isActive' : ''}`}>
      <li>About</li>
    </a>
    <a
      href="https://github.com/H-ymt/gadget-blog"
      class={`list__link list__githubLink`}
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="mdi:github" size={18} aria-hidden="true" class="list__githubIcon" />
      <label>Source</label>
    </a>
  </ul>
</nav>

<style lang="scss">
  .list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .list__githubLink {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .list__link {
    padding: 6px 12px;
    text-decoration: none;
    border-radius: var(--radius-sm);
    transition: color 0.2s ease;
  }

  @media (hover: hover) {
    .list__link:hover {
      color: var(--color-primary-background);
      transition: color 0.2s ease;
    }
  }

  @media (hover: hover) {
    .list__githubLink:hover .list__githubIcon {
      fill: var(--color-primary-background);
    }
  }

  .list__link.isActive {
    font-weight: 500;
    color: var(--color-primary-background);
  }
</style>
